.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f54927;
    color: white;
    padding: 12px 24px;
    border-bottom: #333;

}

.menu_header{
    display: flex;
    gap: 15px;
}

.menu_header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu_header a:hover{
    background-color: #333;
    color: white;
    transform: translateY(1px);
}